div#wheel-menu {
    position: fixed;
    top: 0px;

    width: 148px;
    height: 148px;

    div.center {
        image-rendering: pixelated;
        color: #adadad;
        position: absolute;
        left: 50px;
        top: 50px;
        width: 48px;
        height: 48px;
        // background-color: rgba(0,0,0, 0.6);
        background-image: url('../../../assets/imgs/cross.png');
        line-height: 49px;
        text-align: center;
        font-weight: bold;
        font-size: 18px;

    }
    
    div.button {
        position: absolute;
        image-rendering: pixelated;
        width: 48px;
        height: 48px;
        // border-right: 2px solid #007acc;
        background-color: rgba(0,0,0, 0.6);
        background-image: url('../../../assets/imgs/corner_2.png');
        img {
            margin: 12px;
            width: 24px;
            height: 24px;
        }
    }

    div.button:nth-child(1) {
        background-image: url('../../../assets/imgs/corner_1.png');
        top: 0;
        left: 0;
    }

    div.button:nth-child(2) {
        top: 50px;
        left: 0;
    }
    
    div.button:nth-child(3) {
        top: 100px;
        left: 0;
    }

    div.button:nth-child(4) {
        top: 0;
        left: 50px;
    }

    div.button:nth-child(5) {
        top: 0;
        left: 100px ;
    }

    div.button:hover {
        background-color: rgba(0,0,0, 0.4);
    }
}