<div class="content">    
    <div class="input">
        <div class="caption">Estimated numbers</div>
        <!-- <slider (valueChange)="onCombatantsChange($event)" [value]="_nbCombatants" [max]=30 [tickValues]=[0,5,10,15,20,25,30] [steps]=31></slider> -->
    </div>
    <div class="input">
        <div class="caption">Description</div>
        <textarea></textarea>
    </div>
    <!-- <div class=spacer>&nbsp;</div> -->
</div>
<div class="button-panel">
    <div class="button" (click)="_onConfirm()">OK</div>
    <div class="button" (click)="_onCancel()">CANCEL</div>
</div>