div#popup-menu {
    position: fixed;
    display: flex;
    flex-direction: column;

    top: 100px;
    left: 100px;

    background-color: rgba(0,0,0, 0.8);

    div.title {
        color: #dddddd;
        font-family: 'roboto';
        font-size: 14px;

        height: 24px;
        min-width: 360px;
        background-color: #2d2d2d;
        padding: 3px 8px 3px 8px;
        text-align: center;
    }

    .active {
        display: block;
    }

    .in-active {
        display: none;
    }
}