<div class="content">
    <div class="button tl">
        <img src="../../../assets/icons/btn_foe.png" />
        <div class="label">New marker: Foe</div>
    </div>
    <div class="button ll">
        <img src="../../../assets/icons/btn_object.png" />
        <div class="label">New marker: Object</div>
    </div>
    <div class="button bl">
        <img src="../../../assets/icons/btn_ally.png" />
        <div class="label">New marker: Ally</div>
    </div>
    <div class="center">
        &nbsp;
    </div>
</div>

